h2 {
  color: #414141;
}

.container {
  width: 40%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.underscore {
  border-bottom: 1px solid darkgrey;
  margin-bottom: 25px;
  width: 100%;
}

.recipient, .sender {
  margin-right: 50px;
}

mat-form-field {
  width: 60%;
  margin-bottom: 16px;
}

.mat-form-field-outline {
  border-radius: 4px;
}

.mat-select-placeholder {
  color: gray;
  font-size: 14px;
}

.mat-option-text {
  font-size: 14px;
  color: black;
}
