<div class="container">
  <h1 class="header">
    Transfer Funds to Another Wallet Account
  </h1>
  <p class="datetime">
    {{ dateTime }}
  </p>

  <div class="components">
    <app-transfer-to
      [toCandidateAccountDetails]="toAccountCandidates"
      (transferStateChange)="updateInputDetailsState($event)"
    > </app-transfer-to>

    <app-transfer-from
      [fromCandidateAccountDetails]="fromAccountCandidates"
      (fromAccountChange)="updateInputDetailsState($event)"
    > </app-transfer-from>
  </div>

  <div class="button-container">
    <button mat-button class="button" (click)="validateAndProceed()">
      Next
    </button>

    <button mat-button class="button">
      Cancel
    </button>
  </div>

</div>
