<div class="container">
  <h1 class="header">
    Transfer Funds to Another Wallet Account
  </h1>
  <p class="datetime">
    {{ dateTime }}
  </p>
  <app-transfer-to
    [toCandidateAccountDetails]="toAccountCandidates"
    [fromCandidateAccountDetails]="fromAccountCandidates"
    (transferStateChange)="updateInputDetailsState($event)"
  >
  </app-transfer-to>

  <div class="button-container">
    <button mat-button class="button">
      Next
    </button>

    <button mat-button class="button">
      Cancel
    </button>
  </div>

</div>
