.container {
  width: var(--width-full);
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.descriptor {
  margin-right: var(--margin-right);
}

mat-form-field {
  width: var(--width-large);
  margin-bottom: var(--margin-bottom);
}

.mat-form-field-outline {
  border-radius: var(--border-radius);
}

/* Hide arrows in Chrome, Safari, Edge, and Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide arrows in Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
