<header class="header">
  <div class = "header-row first-row">
    <div class="left-content">
      <img src="assets/logo.png" alt="Logo" class="logo">
    </div>
    <div class="right-content">
      <a href="/login" class="logout-link">Logout</a>
    </div>
  </div>
  <div class="header-row second-row">
    <div class="middle-content">
      <nav>
        <ul>
          <li routerLinkActive="active"><a routerLink="/accounts">My Accounts</a></li>
          <li routerLinkActive="active"><a routerLink="/transfer">Transfer</a></li>
          <li routerLinkActive="active"><a routerLink="/pay">Pay</a></li>
          <li routerLinkActive="active"><a routerLink="/cards">Cards</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>

