* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

.header {
  width: 100%;
  background-color: #00468B;
  color: white;
  position: sticky;
  display: flex;
  top: 0;
  flex-direction: column;
  overflow-x: hidden;
  z-index: 1000;
}

.header-row {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
}

.first-row {
  justify-content: space-between;
}

.second-row {
  justify-content: center;
}

.logo {
  height: 40px;
}

.logout-link {
  color: white;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px 20px;
  margin-left: 20px;
}

.login-link:hover {
  background-color: white;
  color: #00468B;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-left: 30px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.logo-title {
  font-size: 24px;
  text-decoration: none;
  color: white;
}

nav ul li app-dropdown-menu {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

mat-icon {
  color: white;
}

.toolbar-link {
  padding-right: 10px;
  padding-left: 10px;
}
