.hovered {
  color: lightblue;
}

.button-span {
  background-color: white;
}

.button-span:hover,
.button-span.cdk-focused,
.button-span.cdk-program-focused {
  --mat-app-background-color: navy;
  background: #00468B !important;
  color: whitesmoke;       /* Optional: Change the text color */
}
