<span class="top-level" [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger" [ngClass]="{'hovered': isHovered}"
      aria-label="Access utilities related to your account."
      (mouseenter)="onMouseEnter(menuTrigger)" (mouseleave)="onMouseLeave(menuTrigger)">
  {{title}}
</span>
<mat-menu #menu="matMenu" [hasBackdrop]="false">
  <span (mouseenter)="onMouseEnter(menuTrigger)" (mouseleave)="onMouseLeave(menuTrigger)">
    <a class="button-span" mat-menu-item *ngFor="let menuItem of menuItems" [routerLink]="['./'].concat(menuItem.link)"
            #menuItemButton
            (mouseenter)="focusMenuItem(menuItemButton)"
            (mouseleave)="removeFocus()">
      <span> {{menuItem.label}} </span>
    </a>
  </span>
</mat-menu>
