<div class="container">
  <div *ngIf="userFirstAndLastName && currentBalance; else loadingContent" class="content" >
    <div class="slim-column">
      <h2>Welcome Back</h2>
      <h1>{{userFirstAndLastName}}</h1>
    </div>
    <div class="big-column">
      <div class="upper-row">
        <div class="financial-overview">
          <p><b>Your Financial Overview</b></p>
          <div matTooltip="This is an expanding tooltip!" class="expanding-tooltip">
            <mat-icon class="icon-custom">info</mat-icon>
          </div>
        </div>
        <p>{{currentMonthAndYear.month}} {{currentMonthAndYear.year}}</p>
      </div>
      <div class="lower-row">
        <app-balance-chart [availableBalance]="currentBalance" />
      </div>
    </div>
  </div>

  <ng-template #loadingContent>
    <app-loading-spinner [useSpinner]="true" [message]="'Loading your account details...'" [diameter]="50"></app-loading-spinner>
  </ng-template>
</div>
