.container {
  width: 100%;
  height: 60%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.content {
  position: relative;
  display: flex;
  top: 20px;
  width: 60%;
  height: 100%;
  border: 1px solid #ddd;
  padding: 20px;
  gap: 20px;
}

.slim-column {
  flex: 1;
  padding: 20px;
}

.big-column {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.upper-row {
  flex: 1;
  padding: 20px;
}

.lower-row {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

app-balance-chart {
  flex: 1;
}
